mixin navmenu01(menu_item)
	ul.sf-menu
		each top_item in menu_item
			li
				- var linkattr = {"href": top_item.link}
				a()&attributes(linkattr)= top_item.title

mixin owl-carousel(owlItem, owlItemDesktop, owlItemDesktopSmall, owlItemTablet, owlItemMobile, owlAuto, owlNav, owlPag, owlTransition)
	.owl-carousel(data-slider-item=owlItem, data-item-desktop=owlItemDesktop, data-item-desktop-small=owlItemDesktopSmall, data-item-tablet=owlItemTablet, data-item-mobile=owlItemMobile, data-slider-auto=owlAuto, data-slider-navigation=owlNav, data-slider-pagination=owlPag, data-transition-style=owlTransition)
		block
	// owl-carousel

mixin service01(item)
	each list_item in item
		.col-xs-12.col-sm-3
			article.entry-item.kopa__reveal
				.entry-content
					- var font_icon = {'class': list_item.class_icon}
					- var text_item = list_item.text_icon
					a(href='#')
						i.service__listIcon()&attributes(font_icon)
						| #{text_item}
				// entry-content
			// entry-item

mixin service02(item)
	ul
		each list_item in item
			li
				- var font_icon = {'class': list_item.class_icon}
				- var text_item = list_item.text_icon
				a(href='#')
					i()&attributes(font_icon)
					span #{text_item}

mixin service03(item)
	each list_item in item
		li.col-xs-12.col-sm-6.col-md-6
			article.entry-item
				.entry-content
					- var font_icon = {'class': list_item.class_icon}
					- var text_item = list_item.text_icon

					h5.entry-title: a(href='#') #{text_item}
					.kopa__line--dotted.style--04
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
					// kopa line dotted
					i.service__listIcon()&attributes(font_icon)
				// entry content
			// entry item

mixin about04(item)
	each list_item in item
		.col-xs-12.col-sm-6
			- var text_item = list_item.text_item
			h5.entry-title: a(href='#') #{text_item}
			a(href='#').kopa__viewMore.style--01 Know More

mixin news02(item)
	each list_item in item
		.col-xs-12.col-sm-6
			article.entry-item.matchHeight
				- var img_item = list_item.img_item
				.entry-thumb
					a(href='#'): img(src='#{img_item}', alt='')
					span.icon__plus
				// entry thumb

				.entry-content
					span.entry-category: a(href='#') News
					h4.entry-title: a(href='#') Trucking - Company of the Year 2014
					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item

mixin social01(icon)
	each list_item in icon
		- var list_icon = {'class': list_item.class_icon}
		li: a(href='#'): i()&attributes(list_icon)

mixin social02(icon)
	each list_item in icon
		- var list_icon = {'class': list_item.class_icon}
		- var text_item = list_item.text_item
		li: a(href='#')
			i()&attributes(list_icon)
			| #{text_item}

mixin slider-quote-01(controls, pager)
	.widget.slider__quote.style--01.kopa__reveal.bottom
		ul.bxslider(data-controls=controls, data-pager=pager)
			block
	// slider quote

mixin slider-quote-02(controls, pager)
	.widget.slider__quote.style--02.kopa__reveal.bottom
		ul.bxslider(data-controls=controls, data-pager=pager)
			block
	// slider quote

mixin breadcrumb01(text1, text2)
	.kopa__breadcrumb.style--01
		span You are here:
		i.fa.fa-angle-double-right
		a(href='#') #{text1}
		i.fa.fa-angle-double-right
		span #{text2}
	// breadcrumb